body{
    background-image: url("https://img.freepik.com/premium-vector/vintage-leaves-design-background-vector_53876-171329.jpg?semt=ais_hybrid");
}
.content{
    height: 95vh;
    width: 95vw;
    margin: 3%;
    line-height: 3rem;
    font-size: 1.5em;
}
span{
    font-size: 1.5em;
}
.heading {

    display: flex;
    justify-content: center;
    font-size: 2rem;
}
footer{
    font-size: 75px;
    display: flex;
    justify-self: center
}